.board-post-index
  - if user_signed_in?
    ようこそ●●さん
    = link_to "ログアウト", destroy_user_session_path, method: :delete
  - else
    = link_to "ログイン", new_user_session_path, :class => 'post'
    = link_to "新規登録", new_user_registration_path, class: 'post'
  .board-post-index__logo
    投稿詳細
  .board-post-show__container.main-container 
    .board-post.main-container-box
      .board-post__name
        名前：
        = @board.name
      .board-post__text  
        = @board.text